.header {
  margin-top: 50px;
  margin-bottom: 90px;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-auth {
    font-weight: 500;
    .signin {
      color: $heading-color;
      margin-right: 30px;
    }
  }
}
.menu {
  list-style: none;
  display: flex;
  gap: 0 40px;
  &-link {
    color: $text-color;
  }
}

@media screen and (max-width: 1023.98px) {
  .header {
    padding: 25px 0 50px;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    margin-bottom: 0;
    &-auth {
      display: none;
    }
  }
}

@media (hover: hover) {
  .menu-link {
    position: relative;
    transition: all 0.25s linear;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: auto;
      right: 0;
      width: 0;
      height: 3px;
      background-color: $primary-color;
      transition: all 0.25s linear;
    }
    &:hover {
      color: $primary-color;
      &:after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
}
